body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.chip-class{
    background-color: #4502b1;
    color: #fff;
    padding: 0.2rem 0.5rem;
    border-radius: 10px;
    font-size: 9.5px;
}
.table-icon{
    margin-right: 1rem;
    cursor: pointer;
}
